#####################################
# TerraForm Variable Settings
#####################################
#AWS Settings
account_id=
access_key=
secret_key=
region=

#App Name
app_identity_name=
app_base_name=
aws_ecs_service_desired_count_rails=

#Segment Settings
root_segment=
public_segment1=
public_segment2=
private_segment1=
private_segment2=

#AZ Settings
public_segment1_az=
public_segment2_az=
private_segment1_az=
private_segment2_az=

#SG Settings
ssh_allow_ip=

#DB Settings
db_user=
db_pass=
db_instance_class=

#App Settings
secret_key_base=
key_name=
autoscaling_group_desired_capacity=
autoscaling_group_max_size=
autoscaling_group_min_size=
launch_configuration_image_id=
launch_configuration_instance_type=
terraform_state_bucket=

#ECS Settings
rails_awslogs_group=
rails_awslogs_region=
rails_awslogs_stream_prefix=
mysql_database=
mysql_username=
mysql_password=
mysql_host=
nginx_awslogs_group=
nginx_awslogs_region=
nginx_awslogs_stream_prefix=
ecs_name_rails=
ecs_name_nginx=
